<div class="login-content">
    <div class="frosted-panel">
        <div class="inputs">
            <input type="text" class="login-input" id="username" name="username" placeholder="Nom d'utilisateur"/>
            <input type="password" class="login-input" id="password" name="password" placeholder="Mot de passe"/>
        </div>
        <button class="login-button" id="signin">
            <span class="lock"></span>
        </button>
    </div>
</div>