<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link href="/css/main.css" rel="stylesheet">
    {% if disable.navbar is not defined %}
        <link href="/css/medifont/medifont.css" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/libs/socketio/socket.io.js"></script>
    <script src="/libs/jquery/jquery.js"></script>
    <script src="/libs/jquery/jqueryui.js"></script>
    {# {% if disable.notifications is not defined %}
        <script src="/js/notifications.js"></script>
    {% endif %} #}
    {% for file in js_files %}
        <script type="module" src="{{ file.src }}" {% if file.defer %}defer{% endif %}></script>
    {% endfor %}
</head>
<body>
    {% if disable.navbar is not defined %}
        <div class="app-content">
            <div class="topnav">
                <span class="medisales">MEDISales</span>

                <div class="right-content">
                    <a class="med-settings" href="#"></a>
                    <a class="med-bell" href="#"></a>
                    <p class="username">{{ user.name }}</p>
                    <a class="med-disconnect" href="#"></a>
                </div>
            </div>

            <div class="main-panel">
                <div class="navbar">
                    <nav class="nav">
                        <div class="navlist">
                            <a class="med-box active" href="#"></a>
                            <a class="med-contracts" href="#"></a>
                            <a class="med-stats" href="#"></a>
                        </div>
                    </nav>
                </div>
    
                <main class="content">
                    <div class="main-container">
                        {% if content %}
                            {% include content %}
                        {% endif %}
                    </div>
                    <div class="notification-popup-container"></div>
                </main>
            </div>
        </div>
    {% else %}
        <main class="login-container">
            {% if content %}
                {% include content %}
            {% endif %}
            <div class="notification-popup-container"></div>
        </main>
    {% endif %}
</body>
</html>