* {
    transition: 0.2s;
    scrollbar-width: thin;
}

.store-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 1.6vw);
    height: calc(100% - 1.6vw);

    .left-panel {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 40px;
        width: 20%;
        height: 100%;

        .panel-content {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
            width: calc(100% - 2.8vw);
            height: calc(100% - 2.3vw);

            font-family: Roboto;

            h1, h2, p {
                margin: 0;
            }

            .panel-header {
                position: sticky;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 6%;
                width: 100%;
                z-index: 2;
                background-color: white;

                .filters-title {
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 1.7vw;
                }

                .reset-button {
                    font-weight: 300;
                    font-size: 0.9vw;
                    text-decoration: none;
                    padding-top: 8px;
                    color: #0179BA;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        color: lighten(#0179BA, 20%);
                    }
                }

                @media screen and (max-width: 1440px) {
                    .filters-title {
                        font-size: 1.6vw;
                    }
                    .reset-button {
                        font-size: 1vw;
                    }
                }
            }

            .filters-container {
                overflow-y: auto;
                overflow-x: hidden;
                z-index: 1;
                width: 100%;
                height: 90%;

                .filter-category {
                    .category-title {
                        font-size: 1.3vw;
                        margin-bottom: 0.6vw;
                    }
    
                    @media screen and (max-width: 1440px) {
                        .category-title {
                            font-size: 1.4vw;
                        }
                    }
    
                    .multi-select {
                        width: 100%;
                    }
    
                    .selectbox-container {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: flex-start;
                        width: 100%;
    
                        .filter-option {
                            display: flex;
                            flex-flow: row nowrap;
                            margin-bottom: 0.2vw;
    
                            input {
                                width: 0.8vw;
                                height: 0.8vw;
                                margin-right: 0.35vw;
                                margin-top: 0.05vw;
                                background-color: white;
                                border-radius: 15%;
                                vertical-align: middle;
                                border: 1px solid #D8D8D8;
                                appearance: none;
                                -webkit-appearance: none;
                                outline: none;
                                cursor: pointer;
    
                                &:after {
                                    content: '';
                                    display: block;
                                    width: 70%;
                                    height: 70%;
                                    text-align: center;
                                    border-radius: 15%;
                                    border: 2px solid white;
                                    background-color: white;
                                    opacity: 0;
                                }
    
                                &:checked {
                                    &:after {
                                        opacity: 1;
                                        background-color: #6CD9B1;
                                    }
                                }
                            }

                            label {
                                margin-top: -0.09vw;
                                font-size: 0.85vw;
                            }
                        }
                    }
                }

                .separator {
                    width: 100%;
                    border-top: 1px solid #e6e6e6;
                    border-radius: 60px;
                    margin-top: 0.9vw;
                    margin-bottom: 0.6vw;
                }
            }

            .submit-filters {
                position: absolute;
                top: 45%;
                right: -26.5%;
                width: 2.6vw;
                height: 2.6vw;

                background: #c0c0cc;
                border: none;
                outline: 0.55vw solid #f0f5fa;
                border-radius: 30px;

                cursor: pointer;

                color: #021212;
                font-size: 1vw;
                font-family: Lato;
                font-weight: 600;

                &:hover {
                    background: #15C5CE;
                    outline: 0.8vw solid #f0f5fa;
                }
            }
        }
    }

    .right-panel {
        background: white;
        border-radius: 40px;
        width: 77%;
        height: 100%;

        .panel-content {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            height: 100%;

            .store-header {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: 2vw;
                width: 94%;

                .searchbar {
                    background-color: white;
                    border: 1px solid #BBCEE1;
                    border-radius: 10px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    overflow: hidden;
                    min-height: 2vw;
                    width: 15.4vw;
                    margin-bottom: 0.3vw;
    
                    input {
                        border: none;
                        font-family: Lato, sans-serif;
                        color: black;
                        font-weight: 400;
                        font-size: 1.1vw;
                        padding: 3px 10px;
    
                        &:focus {
                            outline: none;
                        }
                        &::placeholder {
                            color: #939393;
                        }
                        &:-webkit-autofill:hover, 
                        &:-webkit-autofill,
                        &:-webkit-autofill:focus, 
                        &:-webkit-autofill:active{
                            -webkit-box-shadow: 0 0 0 30px white inset;
                        }
                    }
    
                    @media screen and (max-width: 1440px) {
                        input {
                            padding: 0.3vw 0.5vw;
                            width: 80%;
                        }
                    }
                    
                    a {
                        display: inline-block;
                        vertical-align: middle;
                        text-align: center;
                        text-decoration: none;
                        color: rgb(192, 192, 192);
                        transition: color 0.1s;
    
                        &:hover {
                            color: #15C5CE;
                        }
    
                        i {
                            width: 1.3vw;
                            font-size: 1vw;
                        }
                    }
    
                    &.focused {
                        border-color: #15c5ce;
                        box-shadow: 0 0 0 0.05rem rgba(21, 197, 206, 0.16);
                    }
                }

                .products-title {
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 2.2vw;
                    margin: 0;
                }
            }

            .separator {
                width: 97%;
                border-top: 1px solid #D9D9D9;
                border-radius: 60px;
                margin-bottom: 1vw;
            }

            .store-view {
                width: 93%;
                max-height: 84%;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-width: thin;

                .store-form {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .product {
                        width: 11.5vw;
                        height: 12.5vw;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;

                        background: #FCFCFC;
                        border: 1px solid #F0F0F0;
                        border-radius: 15px;
                        margin-right: 1.8vw;
                        margin-bottom: 1.8vw;

                        cursor: pointer;

                        .content {
                            height: 93%;
                            width: 90%;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: space-between;
                            align-items: center;

                            font-family: Roboto;

                            .checkbox-container {
                                width: 100%;
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: flex-end;

                                input {
                                    width: 0.85vw;
                                    height: 0.85vw;
                                    background-color: white;
                                    border-radius: 50%;
                                    vertical-align: middle;
                                    border: 1px solid black;
                                    appearance: none;
                                    -webkit-appearance: none;
                                    outline: none;
                                    cursor: pointer;

                                    &:checked {
                                        background-color: #6CD9B1;
                                        border: 0.15vw solid white;
                                    }
                                }
                            }
                            p {
                                margin: 0;
                                font-size: 1vw;
                                font-weight: 400;

                                &.prod-price {
                                    font-weight: 600;
                                    font-size: 0.85vw;
                                }
                            }
                            img {
                                width: 100%;
                                height: 55%;
                                object-fit: contain;
                                font-size: 1vw;
                            }
                        }

                        &.active {
                            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05);
                            background: #D7ECFF;
                            border: 1px solid #D7ECFF;
                        }
                    }
                }
            }

            .contract-button {
                position: absolute;
                top: 89%;
                right: 4%;

                width: 9.5vw;
                height: 2.5vw;

                background: #53ADFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                border: 1px solid #53ADFF;
                border-radius: 30px;

                cursor: pointer;

                color: white;
                font-family: Roboto;
                font-weight: 500;
                font-size: 1vw;

                &:hover {
                    background: lighten(#53ADFF, 5%);
                    border: 1px solid lighten(#53ADFF, 5%);
                }
                &.hidden {
                    visibility: hidden;
                }
            }
        }
    }
}

.select2-container {
    .select2-dropdown {
        border-color: #15C5CE !important;
        .select2-results {
            ul {
                font-family: Quicksand !important;
                li {
                    &.select2-results__option {
                        font-size: 0.9vw;
                    }
                    &.select2-results__option--selected {
                        background-color: #EEFCFC !important;
                        color: #0D7A80 !important;
                    }
                }
            }
        }
    }

    .selection {
        .select2-selection {
            .select2-selection__rendered {
                font-family: Quicksand;
                .select2-selection__choice {
                    .select2-selection__choice__remove {
                        width: 0.75vw !important;
                        height: 0.75vw !important;
                        padding: 0.25vw !important;
                        margin-right: 0.3vw !important;

                        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23676a6d'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") 50%/.75vw auto no-repeat !important;
                    }
                    .select2-selection__choice__display {
                        font-size: 0.9vw !important;
                    }
                }
            }
        }
    }

    &.select2-container--focus {
        .selection {
            .select2-selection {
                border-color: #15c5ce;
                box-shadow: 0 0 0 0.05rem rgba(21, 197, 206, 0.16);
            }
        }
    }

    .selection {
        .select2-selection {
            overflow-y: auto !important;
            overflow-x: hidden !important;
            max-height: 5vw !important;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    label {
        margin-bottom: 8px;
        font-size: 14px;
        color: rgb(52, 71, 103);
    }
    input {
        min-height: 35px;
        padding: 8px 12px;
        border: 1px solid rgb(210, 214, 218);
        border-radius: 8px;
        outline: none;
        color: rgb(103, 116, 142);
    }
}

.modal-box {
	display: none;
	position: absolute;
	z-index: 1000;
	width: 100%;
	background: white;
	border-bottom: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-clip: padding-box;
}

.product, .client {
    right: 33%;
}

.modal-box header,
.modal-box .modal-header {
	padding: 1.25em 1.5em;
	border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
	margin: 0;
}

.modal-box .modal-body {
	padding: 2em 1.5em;
}

.modal-box footer,
.modal-box .modal-footer {
	padding: 1em;
	border-top: 1px solid #ddd;
	background: rgba(0, 0, 0, 0.02);
	text-align: right;
}

.modal-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
	line-height: 1;
	font-size: 1.5em;
	position: absolute;
	top: 1%;
	right: 3.2%;
	text-decoration: none;
	color: #bbb;
}

a.close:hover {
	color: #222;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	transition: color 1s ease;
}

@media (min-width: 32em) {
	.modal-box {
		width: 30%;
	}
}

#addClient_form {
    display: flex;
    justify-content: space-between;
    .right {
        width: 48%;
    }
    .left {
        width: 48%;
    }
}